<div class="container">

    <form class="new-task">
        <div class="form-group">
            <label for="title">title</label>
            <input type="text" id="title" name="title" [(ngModel)]="newTask.title" class="form=control"/>
        </div>
        <div class="form-group">
            <label for="deadline">deadline</label>
            <input type="date" id="deadline" name="title" [(ngModel)]="newTask.deadline" class="form-control"/>
        </div>
        <div class="form=group">
            <button type="button" class="btn btn-primary" (click)="addTask()">
                Add Task
            </button>

            <button (click)="archiveCompleted()"> Archieve completed</button>
        </div>
    </form>


    <form class="new-task"></form>

    <div class="tasks">
        @for (task of tasks; track task.id){
            <div class="task" [class.completed]="task.completed">
                <div class="title">{{ task.title }}</div>
                <div class="deadline">
                    @if (task.deadline){
                        <span>{{ task.deadline }}</span>
                    }
                </div>
            <div class="actions">
                <input type="checkbox" [(ngModel)]="task.completed" (change)="handleChange(task)"/>
            </div>
            </div>
        }
    </div>
</div>

